<%= link_to "home", controller: "posts" %>
<%= link_to 'edit', edit_post_path(@post) %>
<h1><%=@post.title%></h1>
<p>Submitted <%= time_ago_in_words(@post.created_at)%> ago</p>

<div class="post-body"><%=@post.body%></div>